{% extends 'theme.html' %}
{# Don't forget that one ! #}
{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
	<style type="text/css">
		.bg-1 {
            background-color:white;
        }

		button {
		  /*height: 30px;*/
		  width: 200px;
		  color:white;
		  border-radius: 4px;
		  background: #428cca;
		  padding: 6px 10px;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		  margin-bottom: 10px;
		  margin-top: 20px;
		}
    #addTag{
      margin-left: 100px;
      margin-right: 100px;
      align: left;
    }
    #delTag{
      margin-left: 100px;
      margin-right: 100px;
      align: middle;
    }
    #delAd{
      margin-left: 100px;
      margin-right: 100px;
      align: right;
    }


	</style>

{% endblock %}


{% block body %}

<body>

<div id="buttons">

<form action="{% url 'tagFormURL' %}" >
<button id="addTag">Add Tag</button>
</form>

<form action="{% url 'removeTagFormURL' %}">
<button id="delTag">Remove Tag</button>
</form>

</div>

</body>

{% endblock %}
