<!-- HTML file to display question form using django crispy forms -->
{% extends 'theme.html' %}
{# Don't forget that one ! #}
{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
	<style type="text/css">
		body{
			color: black
		}
	</style>

{% endblock %}  


{% block body %}


<body>
  <style>
  #table1 {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  #table1 td, #table1 th {
      border: 1px solid #ddd;
      padding: 8px;
  }

  #table1 tr:nth-child(even){background-color: #f2f2f2;}

  #table1 tr:hover {background-color: #ddd;}

  #table1 th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #6CA344;
      color: white;
  }
  
</style>
	<p style="color: red">{{bidstatus}}</p>
	<table id="table1" style="width:100%;color: black">
          <tr>
            <th>Name</th>
            <th>Comment</th> 
            <th>Bid</th>
            <th>Accept</th>
          </tr>
          {% for bid in bids %}
                <tr>
                    <td>{{bid.bidder.username}}</td>
                    <td>{{bid.comment}}</td> 
                    <td>{{bid.bid}}</td> 
                    <td>
                    {% if bid.status == True %}
                        <p style="color: red">ACCEPTED</p>  

                    {% else%}
                    	<form id="acceptform" action="{% url 'acceptBidURL' %}" method="GET">
                        <input type="hidden" name="ad" value={{ad.id}} />
                        <input type="hidden" name="bidder" value={{bid.bidder.id}} />
                      </form>  
                      <button form="acceptform" formmethod="GET"> ACTION</button>
                    {% endif %}
                    </td> 
              </tr>
          {% endfor %}
        </table>

</body>
{% endblock %}


