<!-- Display notifications related to the user -->
{% extends "theme.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
<title>{{NOTIFICATIONS}}</title>
{% endblock %}  

{% block body %}

<style>
	#notiftable {
	    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}

	#notiftable td {
	    border: 3px solid #ddd;
	    padding: 2px;
	}

	#notiftable tr:hover {
		 background-color: #428CCC;
		color:black;
	}

</style>


<table id="notiftable">
 
{% for update in notifications %}

 <tr>

    <td>
	 <!-- UPDATE BID -->
	{% if update.notify_type == 1%}

	  <form action="{% url 'bidListURL' %}" method="GET">
        <input type="hidden" name="ad" value={{update.link_param.id}} />
        <a style="text-decoration:none" href="#" onclick="this.parentNode.submit()">
		  {% if update.read_status == True%}
		
		  <p style="font-size: 15px;color:black" > &nbsp&nbsp {%bootstrap_label update.buyer.username %} updated bid for the ad {%bootstrap_label update.ad_id.title %}</p>

		  {% else %}
		  <p style="font-size: 15px;color:red" > &nbsp&nbsp {%bootstrap_label update.buyer.username %} updated bid for the ad {%bootstrap_label update.ad_id.title %}</p>

		  {% endif %}</a> </form>		  

	<!-- ACCEPT BID -->
	{% elif update.notify_type == 2 %}
		<form action="{% url 'sellerProfileURL' %}" method="GET">
        <input type="hidden" name="seller" value={{update.link_param.id}} />
        <a style="text-decoration:none" href="#" onclick="this.parentNode.submit()">
		  {% if update.read_status == True%}

		  <p style="font-size: 15px;color:black"> &nbsp {%bootstrap_label update.seller.username %} accepted your bid for the ad {%bootstrap_label update.ad_id.title %}</p>

		  {% else %}
		   <p style="font-size: 15px;color:red"> &nbsp {%bootstrap_label update.seller.username %} accepted your bid for the ad {%bootstrap_label update.ad_id.title %}</p>
	
		  {% endif %}</a></form>
	  
	<!-- NEW BID -->
	{% elif update.notify_type == 3 %}
	 
		<form action="{% url 'bidListURL' %}" method="GET">
        <input type="hidden" name="ad" value={{update.link_param}} />
        <a style="text-decoration:none" href="#" onclick="this.parentNode.submit()">
		  {% if update.read_status == True%}
		
		  <p style="font-size: 15px;color:black" > &nbsp&nbsp {%bootstrap_label update.buyer.username %} placed bid for the ad {%bootstrap_label update.ad_id.title %}</p>

		  {% else %}
		  <p style="font-size: 15px;color:red" > &nbsp&nbsp {%bootstrap_label update.buyer.username %} placed bid for the ad {%bootstrap_label update.ad_id.title %}</p>

		  {% endif %}</a> </form>
	
	<!-- Delete AD -->
	{% elif update.notify_type == 4 %}
	 
	 {% if update.read_status == True%}

	  <p style="font-size: 15px;color:black"> &nbsp {%bootstrap_label update.buyer.username %} deleted the ad {%bootstrap_label update.ad_id.title %}</p>
	  {% else %}
	  <p style="font-size: 15px;color:red"> &nbsp {%bootstrap_label update.buyer.username %} deleted the ad {%bootstrap_label update.ad_id.title %}</p>
	  
	   {% endif %}

	<!-- Delete BID -->
	{% else}
	 
	 {% if update.read_status == True%}

	  <p style="font-size: 15px;color:black"> &nbsp {%bootstrap_label update.buyer.username %} deleted the bid for ad {%bootstrap_label update.ad_id.title %}</p>
	  {% else %}
	  <p style="font-size: 15px;color:red"> &nbsp {%bootstrap_label update.buyer.username %} deleted bid for ad {%bootstrap_label update.ad_id.title %}</p>
	  
	   {% endif %}


	{% endif %}

	</td>
	<td>
	 <p style="font-size: 15px;color:black"> &nbsp {{update.timestamp}}</p>
    </td>
  </tr>

{% endfor %}

</table>

{% endblock %}