<!-- HTML file to display question form using django crispy forms -->
{% extends 'theme.html' %}
{# Don't forget that one ! #}
{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
	<style type="text/css">
		.bg-1 { 
            background-color:white;

        }
		p{
			color: black;
		}
		#product{
			display: flex;
		}
		#product button{
			position: absolute;
			/*bottom: ;*/
			 background: #6CA344;
			vertical-align: bottom;

		}
		#product_detail{
			color:black;
		}
		
	</style>

{% endblock %}  


{% block body %}

<style type="text/css">
		div {
  	  		padding: 10px;
   	 	}
		#product_detail{
			color:white;
			border: 1px solid #4CAF50;
			margin-left: 100px;
			text-align: center;			
			background: #3e80cd;
  			box-shadow: 0px 0px 0px 4px #006B96;
  			border: 4px solid #fff;
  			width:100%;
 		}
 		p {
 			color:white;
 			text-align: center;
    		letter-spacing: 1px;
		}
		input[type=button], input[type=submit], input[type=reset] {
		    background-color:  #6CA344;
		    border: none;
		    color: white;
		    padding: 12px 40px;
		    text-decoration: none;
		    cursor: pointer;
		}
		input[type=button], input[type=submit], input[type=reset]:hover {background-color: #3e8e41}

		input[type=button], input[type=submit], input[type=reset]:active {
			  background-color:  #6CA344;
		}
		#table1{
			margin-left: auto;
			margin-right: auto;	
		}
		#table1 th {
	      color:white;
	      padding-top: 10px;
	    }
	
</style>

<body>
	<p style="color: red">{{bidstatus}}</p>
	<div id="product">
		<div  id="product_image">
			<img src={{media_url}}{{ad.image}}  height="400" width="400" >
		</div>		
		<div  id="product_detail">
		<!-- <div id="product_detail"> -->
			<h2 id="product_title"> {{ad.title}} </h1> 
			<h3 id ="price" style="display:  inline-block;"> Rs {{ad.price}}</h3>
			<br>
			<p id="product_description">{{ad.description}}</p>
			<br>
			<form method="POST"  action="{% url 'bidURL' %}">{% csrf_token %}
		    	<table id ="table1" style="color:black;">
		    		{{ bidform }}
				</table>
			<input type="hidden" name="ad" value="{{ad.id}}"/>
			<br>
			<br>
			<input type="submit" value="BID" />
			</form>
			
		<!-- </div> -->
		</div>

			
	</div>

</body>
{% endblock %}


