<!-- HTML file to display question form using django crispy forms -->
{% extends 'theme.html' %}
{# Don't forget that one ! #}
{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style type="text/css">
    .navbar-inverse .navbar-brand {
             color: white;
             margin: 5px;
             font-size: 32px; 
             font-family: "Times New Roman", Times, serif;
        }

    #profilebox{
        display: flex;
        height: 200px;
        width: 100%;
    }
    #profiledetails{
        /*min-height: 300px;*/
        height: 100%;
    }
    #profileimage{
        height: 280px;
        width: 280px;
        overflow: hidden;
    }
    
    #edit{
        position: absolute;
        bottom: 0;
        padding: 1px;

    }
    #edit button{
        width: 100px;
    }
    #profiledetails.glyphicon { 
        margin-bottom: 10px;
        margin-right: 20px;
       
        color: black;
    }
    p{
        color: black;
        margin: 1px;
    }
    h1,h2,h3{
        color: black;
        margin: 1px;
    }
    h4{
        color: black;
        margin: 1px;
        height: 20%;
    }


   
    table, th, td {
        border: 1px solid black;
        color: black;
    }

    #table1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #table1 td, #table1 th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table1 tr:nth-child(even){background-color: #f2f2f2;}

    #table1 tr:hover {background-color: #ddd;}

    #table1 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #3e80cd;
        color: white;
    }


    #table2 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #table2 td, #table2 th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table2 tr:nth-child(even){background-color: #f2f2f2;}

    #table12 tr:hover {background-color: #ddd;}

    #table2 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #3e80cd;
        color: white;
    }
</style>

{% endblock %} 

{% block body %}
    
<div class="container">
<div class="row">
    <div class="col-sm-12">
        <div class="well well-md">
            <div class="row" id ="profilebox">
                <div class="col-sm-6 " id="profileimage">
                    <img src={{media_url}}{{profile.image}} width="200" height="200"/>
                </div>
                <div class="col-sm-6" id="profiledetails">
                    <h1 id="profilename">{{profile.name}}</h1>
                    <br>
                    <p><i class="glyphicon glyphicon-envelope">&nbsp</i>{{profile.email}}<p>
                    <br>
                    <p> <i class="glyphicon glyphicon-earphone">&nbsp</i>{{profile.phone}}</p>
                    <!-- Split button -->
                    <div class="btn-group" id="edit">
                            <button type="button" class="btn btn-primary" >Edit</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        <p style="color: red;">{{delstatus}}</p>

        <table id="table1" style="width:100%">


          <tr>
            <th>Posted Advertisement</th>
            <th>Offers</th> 
            <th>Remove</th>
          </tr>
          {% for ad in ads %}
            <tr>
                    <td>
                    <form action="{% url 'bidListURL' %}" method="POST">

                            <input type="hidden" name="ad" value={{ad.ad}} />
                            <a href="#" onclick="this.parentNode.submit()">{{ad.ad.title}}</a>

                    </form>
                    </td>
                    <td>{{ad.offer_count}}</td> 


                    <td>
                    <form action="{% url 'deleteAdURL' %}" method="POST">
                            <input type="hidden" name="ad" value={{ad.ad}} />
                            <input type="hidden" name="next" value={{request.path}} />
                            <button onclick="this.parentNode.submit()">
                                DELETE
                            </button>

                    </form>
                    </td>


            </tr>
          {% endfor %}
        </table>


        <br>
        <br>

        <table id="table2" style="width:100%">


          <tr>
            <th>Bided Advertisement</th>
            <th>Offer</th> 
            <th>Remove</th>
          </tr>
          {% for bid in mybids %}
            <tr>
                    <td>
                    <form action="{% url 'productURL' %}" method="POST">

                            <input type="hidden" name="ad" value={{bid.ad}} />
                            <a href="#" onclick="location.href = '/app/product/?ad={{bid.ad}}';">{{bid.ad.title}}</a>

                    </form>
                    </td>
                    <td>{{bid.bid.offer}}</td> 


                    <td>
                        <form action="{% url 'deleteBidURL' %}" method="POST">
                                <input type="hidden" name="bid" value={{bid.bid}} />
                                <input type="hidden" name="next" value={{request.path}} />
                                <button onclick="this.parentNode.submit()">
                                    DELETE
                                </button>

                        </form>
                    </td>


            </tr>
          {% endfor %}
        </table>


         
</div>

{% endblock %}

